# Output files
OUTPUT_FILES/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/

testcase*/*.yml
testcase*/src_rec_file*
testcase*/*.h5
testcase14/hawaii.nc
gmt*
hawaii_rotated.nc
src_rec_file_rotated.csv
check*
fort*